.App {
  text-align: center;
}

Header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Logo {
  min-width: 175px;
}

.NavBar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 35vw;
  min-width: 400px;
  font-size: 0.6rem;
}

.App a {
  color: #ffa52f;
  letter-spacing: 3px;
  font-family: "Dosis", sans-serif;
  text-decoration: none;
}

.Logo {
  margin: 15px;
  letter-spacing: 3px;
}

.App a:hover,
.App a:active,
.App a.active {
  cursor: pointer;
  color: #825923;
}
